@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.nav {
  color: #000000 !important;
  height: 100px !important;
  font-family: "Inter", sans-serif !important;
	font-size: 18px !important;
  font-weight: normal !important;
  background-color: #fff !important;
  padding: 0.3125rem 5% !important;
  display: flex !important; 
  justify-content: space-between !important;
  align-items: center !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0rem 0.125rem 0.3125rem -0.0625rem,
    rgba(0, 0, 0, 0.3) 0rem 0.0625rem 0.1875rem -0.0625rem !important;
  position: fixed !important;
  width: 100% !important;
  top: 0 !important;
  z-index: 999 !important;
}

.nav .logo {
  display: flex !important;
  align-items: center !important;
}

.nav .logo img {
  height: 70px !important;
  width: auto !important;
  margin-right: 0.625rem !important;
}

.nav .logo h1 {
  font-size: 1.1rem !important;
  background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.nav ul {
  list-style: none !important;
  font-family: 'Inter', sans-serif !important;
  display: flex !important;
}

.nav ul li {
  margin-left: 1.5rem !important;
}

.nav ul li a {
  text-decoration: none !important;
  color: #000 !important;
  font-weight: normal !important;
  font-weight: 400 !important;
  font-family: 'Inter', sans-serif !important;
  padding: 0.25rem 0.5rem !important;
  border-radius: 0.3125rem !important;
}

.nav ul li a:hover {
  background-color: #f5f5f5;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .hamburger-line {
  width: 1.5625rem;
  height: 0.0625rem;
  background-color: #1f1f1f;
  display: block;
  margin: 0.4375rem auto;
  transition: all 0.3s ease-in-out;
}

.hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.hamburger-active .hamburger-line:nth-child(2) {
  width: 0rem;
}

.hamburger-active .hamburger-line:nth-child(1),
.hamburger-active .hamburger-line:nth-child(3) {
  transition-delay: 0.3s;
}

.hamburger-active .hamburger-line:nth-child(1) {
  transform: translateY(0.75rem);
}

.hamburger-active .hamburger-line:nth-child(3) {
  transform: translateY(-0.3125rem) rotate(90deg);
}

.menubar {
  position: absolute;
  left: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem 0;
  margin-top: 5rem;
  background: rgba(255, 255, 255);
  transition: all 0.3s ease-in;
  z-index: 0;
  display: none;
}

.menubar .active {
  display: flex;
}

.active {
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0rem 0.5rem 1.5rem;
}

.menubar ul {
  padding: 0;
  list-style: none;
}

.menubar ul li {
  margin-bottom: 2rem;
}

.menubar ul li:nth-child(3) {
  margin-bottom: 0rem;
}

.menubar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.3125rem;
}

.menubar ul li a:hover {
  background-color: #f5f5f5;
}

/* Abaixo está a seção não alterada (max-width: 790px) */
@media screen and (max-width: 800px) {
  .menubar {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 9999;
  }

  .hamburger {
    display: block;
  }

  nav ul {
    display: none;
    scale: 0;
  }
}



.foot{
  background-color: #727171 !important;
  color: #ffffff !important;
  padding: 10px 50px 10px 50px !important;
  align-content: center !important;
  font-weight: normal !important;
}

.foot a{
  color: #ffffff !important;
}
.foot div:nth-child(1){
  position: relative;
  height: 150px;
  width: 45%;  
  display: inline-block;
  align-content: center;

}

.foot div:nth-child(2){
  position: relative;
  width: 45%;
  display: flex;
  float: right;
  align-content: center;
  justify-content: center;
}

.foot iframe{
  width: 100%;
}

.foot ul{
  list-style: none !important;
  font-family: "Inter", sans-serif !important;
	font-size: 18px !important;
  color: #ffffff !important;
}
.foot h2{
  font-family: "Inter", sans-serif !important;
	font-size: 18px !important;
  color: #ffffff !important;
}