@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.buttonp {
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  border: 0.125rem #1790d9;
  background-color: #1790d9;
  color: #ffffff;
  transition: 0.3s;
  border-radius: 10px;
}

.buttonp:hover {
  cursor: pointer;
  scale: 0.9;
  background-color: #1bdfb6;
  border: #1bdfb6;
  transition: 0.3s;
}

/* Somos nos */

.somosNos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 3.125rem;
  gap: 1.25rem;
  /* Espaçamento entre a imagem e o texto */
}

.image-container {
  width: 100%;
  height: auto;
  text-align: center;
}

.image-container img {
  width: auto;
  max-height: 20rem;
  box-shadow: 0rem 0rem 0.625rem rgba(0, 0, 0, 0.1);
}

.content {
  max-width: 100%;
}

.content h1 {
  font-size: 2.25rem;
  color: #003060;
  margin-bottom: 1.875rem;
  position: relative;
  line-height: 1.2;
}

.content p {
  font-size: 1.125rem;
  color: #333333;
  margin-bottom: 2.5rem;
  line-height: 1.5;
}

.content .author {
  font-weight: bold;
  color: #003060;
  margin-bottom: 2.5rem;
}

.content .button-container {
  text-align: center;
}

.content .button-container a {
  display: inline-block;
  padding: 0.9375rem 1.875rem;
  background-color: #0069b4;
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
  border-radius: 0.3125rem;
}

.content .button-container a:hover {
  background-color: #004a8b;
}

@media (max-width: 860px) {
  .somosNos {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .image-container {
    margin-bottom: 1.25rem;
  }
}

.statistics-section {
  background-color: black;
  background-position: center;
  height: 50dvh;
  width: 100%;
  justify-content: space-around;
  padding: 0 6rem;
  line-height: 2rem;
}

.statistics-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.statistics-item {
  text-align: center;
}

.count-value {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}

.count-label {
  font-size: 18px;
  color: #ffffff;
  margin-top: 10px;
}

@media (max-width: 860px) {
  .statistics-row {
    flex-direction: column;
  }

  .statistics-section {
    height: auto;
    padding: 2rem;
  }

  .statistics-item {
    margin: 2rem 0;
  }
}



@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 20px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 700px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 30s slide infinite linear;
}

.logos-slide img {
  height: 100px;
  margin: 0 50px;
}

.parceiros {
  padding: 20px;
  ;
}

.parceiros h2 {
  padding-left: 50px;
}




@keyframes slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-150%);
  }
}

.depo {
  overflow: hidden;
  padding: 20px 0;
  background: white;
  position: relative;
  width: 100%;
  /* Ajusta o tamanho da div ao tamanho do contêiner pai */
}

.depo:before,
.depo:after {
  position: absolute;
  top: 0;
  width: 50px;
  /* Ajuste conforme necessário */
  height: 100%;
  content: "";
  z-index: 2;
}

.depo:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.depo:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.depo-slide {
  display: flex;
  animation: 10s slide infinite linear;
  position: relative;
  /* Alinha os itens no centro */
  flex-wrap: nowrap;
  gap: 50dvh;
}

.divisorias {
  flex: 0 0 auto;
  width: 80%;
  max-width: 300px;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 10px;
  background: #f9f9f9;
}

.depo-slide:hover{
  animation-play-state: paused;
}


.depo-slide {
  display: inline-block;
  animation: 30s slide infinite linear;
  display: inline-block;
  position: relative;
}

.depo-slide p:nth-child(1){
  height: 100px;
  width: 200px;;
  margin: 0 50px;
}

footer {
  background-color: #727171;
  color: #ffffff;
  padding: 10px 50px 10px 50px;
  align-content: center;
}

footer div:nth-child(1) {
  position: relative;
  height: 150px;
  width: 45%;
  display: inline-block;
  align-content: center;

}

footer div:nth-child(2) {
  position: relative;
  width: 45%;
  display: flex;
  float: right;
  align-content: center;
  justify-content: center;
}

footer iframe {
  width: 100%;
}

footer ul {
  list-style: none;
}
